UltimateTutorialProject/Logs
UltimateTutorialProject/Library
UltimateTutorialProject/Assembly-CSharp-Editor.csproj
UltimateTutorialProject/Assembly-CSharp.csproj
UltimateTutorialProject/UltimateTutorialProject.sln
UltimateTutorialProject/Temp
UltimateTutorialProject/.idea
Builds
UltimateTutorialProject/obj
*.DotSettings
